In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
rawdata = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/HMAHCC_COMP.csv')

/Users/Janey_jiayan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Feature Predicators for day < 0

In [276]:
history = rawdata[rawdata['Days'] < 0]

In [5]:
history.loc[(history['event_descr']=='RX Claim - Paid') & (history['MME'].notnull())].head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
507,ID10024447278,RX Claim - Paid,OPIOID COMBINATIONS,NaN,7.15,3.85,OXYCODONE/ACETAMINOPHEN,PAIN,NaN,OXYCODONE W/ ACETAMINOPHEN TAB 5-325 MG,3.3,65990002.0,-614,5.0,10.0,15.0,IR,Emergency,Internal Medicine,Pediatrics
512,ID10024447278,RX Claim - Paid,OPIOID COMBINATIONS,NaN,7.15,3.85,OXYCODONE/ACETAMINOPHEN,PAIN,NaN,OXYCODONE W/ ACETAMINOPHEN TAB 5-325 MG,3.3,65990002.0,-609,5.0,15.0,22.5,IR,Emergency,Internal Medicine,Pediatrics
517,ID10024447278,RX Claim - Paid,OPIOID COMBINATIONS,NaN,7.15,3.85,OXYCODONE/ACETAMINOPHEN,PAIN,NaN,OXYCODONE W/ ACETAMINOPHEN TAB 5-325 MG,3.3,65990002.0,-575,5.0,15.0,22.5,IR,Emergency,Internal Medicine,Pediatrics
771,ID1002482139,RX Claim - Paid,OPIOID COMBINATIONS,NaN,16.3,15.1,HYDROCODONE/ACETAMINOPHEN,PAIN,NaN,HYDROCODONE-ACETAMINOPHEN TAB 10-325 MG,1.2,65991702.0,-984,30.0,120.0,40.0,IR,Psychiatry & Neurology,Neurological Surgery,Family Practice
789,ID1002482139,RX Claim - Paid,OPIOID COMBINATIONS,NaN,31.9,30.7,HYDROCODONE/ACETAMINOPHEN,PAIN,NaN,HYDROCODONE-ACETAMINOPHEN TAB 10-325 MG,1.2,65991702.0,-955,30.0,120.0,40.0,IR,Psychiatry & Neurology,Neurological Surgery,Family Practice

In [6]:
history['event_descr'].unique()

array(['RX Claim - Paid', 'RX Claim - Rejected', 'Fully Paid Claim',
       'RX Claim - New Drug', 'Inbound Call by Mbr',
       'Inbound Call by Prov', 'Surgery',
       'RX Claim - First Time Mail Order', 'New provider',
       'Inbound Call by Other', 'New diagnosis - CAD',
       'New diagnosis - CPD', 'New diagnosis - CHF',
       'New diagnosis - Diabetes', 'New diagnosis - Hypertension',
       'New diagnosis - Top 5'], dtype=object)

In [7]:
history['event_attr5'].unique()

array(['METFORMIN HCL', 'ATENOLOL', 'CIPROFLOXACIN HCL', ...,
       'SM DOCUSATE CALCIUM', 'DEXMETHYLPHENIDATE HCL', '167.14'], dtype=object)

In [8]:
history['DRUG_TYPE'].unique()

array([nan, 'IR', 'ER'], dtype=object)

### Occurences of Inbound call by Mrb/Prov, Surgery, Fully Paid Claim, CAD, Diabetes, Hypertension, CPD and CHP
### Export as .csv file

In [284]:
history = history.assign(count= 0)

In [285]:
event_history = history[ ['id','event_descr','count']]

In [286]:
event_history.head()

              id          event_descr  count
0  ID10010854159      RX Claim - Paid      0
1  ID10010854159      RX Claim - Paid      0
2  ID10010854159  RX Claim - Rejected      0
3  ID10010854159      RX Claim - Paid      0
4  ID10010854159      RX Claim - Paid      0

In [287]:
event_hist_ct = event_history.groupby(['id','event_descr']).count()

In [288]:
event_hist_ct

                                                count
id            event_descr
ID10010854159 Fully Paid Claim                     43
              Inbound Call by Mbr                  26
              Inbound Call by Other                 2
              Inbound Call by Prov                  8
              New provider                          4
              RX Claim - First Time Mail Order      3
              RX Claim - New Drug                  10
              RX Claim - Paid                      75
              RX Claim - Rejected                  21
              Surgery                               1
ID10013863216 Fully Paid Claim                     19
              Inbound Call by Mbr                   2
              Inbound Call by Prov                  1
              New provider                          6
              RX Claim - New Drug                   3
              RX Claim - Paid                       5
              Surgery                               1
ID10024447278 Fully Paid Claim                     21
              Inbound Call by Mbr                  18
              New provider                          5
              RX Claim - First Time Mail Order      2
              RX Claim - New Drug                   6
              RX Claim - Paid                      58
              RX Claim - Rejected                  24
ID1002482139  Fully Paid Claim                    149
              Inbound Call by Mbr                   6
              Inbound Call by Other                 5
              Inbound Call by Prov                  5
              New diagnosis - CAD                   1
              New diagnosis - CPD                   1
...                                               ...
ID99971049558 RX Claim - Rejected                  14
              Surgery                               1
ID99975648894 Fully Paid Claim                      8
              Inbound Call by Mbr                   4
              New provider                          1
              RX Claim - New Drug                   1
              RX Claim - Paid                      63
              RX Claim - Rejected                  21
ID99985278397 Fully Paid Claim                     39
              Inbound Call by Mbr                   1
              Inbound Call by Other                 2
              Inbound Call by Prov                  3
              New provider                          6
              RX Claim - New Drug                  13
              RX Claim - Paid                      67
              RX Claim - Rejected                  11
              Surgery                               1
ID99987501651 Fully Paid Claim                     14
              Inbound Call by Mbr                   1
              Inbound Call by Prov                  4
              New provider                          1
              RX Claim - New Drug                   6
              RX Claim - Paid                      96
              RX Claim - Rejected                  36
ID99994197161 Fully Paid Claim                      6
              Inbound Call by Mbr                   4
              New provider                          2
              RX Claim - New Drug                   1
              RX Claim - Paid                      59
              RX Claim - Rejected                   1

[114536 rows x 1 columns]

In [298]:
event_hist_ct.dtypes

count    int64
dtype: object

In [292]:
event_hist_ct_unstack = event_hist_ct.unstack()

In [293]:
event_hist_ct_unstack.head()

                         count                                            \
event_descr   Fully Paid Claim Inbound Call by Mbr Inbound Call by Other
id
ID10010854159             43.0                26.0                   2.0
ID10013863216             19.0                 2.0                   NaN
ID10024447278             21.0                18.0                   NaN
ID1002482139             149.0                 6.0                   5.0
ID1003386406              48.0                 NaN                   NaN

                                                                            \
event_descr   Inbound Call by Prov New diagnosis - CAD New diagnosis - CHF
id
ID10010854159                  8.0                 NaN                 NaN
ID10013863216                  1.0                 NaN                 NaN
ID10024447278                  NaN                 NaN                 NaN
ID1002482139                   5.0                 1.0                 NaN
ID1003386406                   4.0                 NaN                 NaN

                                                            \
event_descr   New diagnosis - CPD New diagnosis - Diabetes
id
ID10010854159                 NaN                      NaN
ID10013863216                 NaN                      NaN
ID10024447278                 NaN                      NaN
ID1002482139                  1.0                      NaN
ID1003386406                  NaN                      NaN

                                                                               \
event_descr   New diagnosis - Hypertension New diagnosis - Top 5 New provider
id
ID10010854159                          NaN                   NaN          4.0
ID10013863216                          NaN                   NaN          6.0
ID10024447278                          NaN                   NaN          5.0
ID1002482139                           NaN                   NaN         20.0
ID1003386406                           NaN                   NaN         12.0

                                                                    \
event_descr   RX Claim - First Time Mail Order RX Claim - New Drug
id
ID10010854159                              3.0                10.0
ID10013863216                              NaN                 3.0
ID10024447278                              2.0                 6.0
ID1002482139                               1.0                23.0
ID1003386406                               NaN                10.0


event_descr   RX Claim - Paid RX Claim - Rejected Surgery
id
ID10010854159            75.0                21.0     1.0
ID10013863216             5.0                 NaN     1.0
ID10024447278            58.0                24.0     NaN
ID1002482139            144.0               107.0     1.0
ID1003386406             40.0                26.0     NaN

In [294]:
count_tbl = event_hist_ct_unstack.fillna(0).reset_index()

In [295]:
count_tbl.head()

                        id            count                      \
event_descr                Fully Paid Claim Inbound Call by Mbr
0            ID10010854159             43.0                26.0
1            ID10013863216             19.0                 2.0
2            ID10024447278             21.0                18.0
3             ID1002482139            149.0                 6.0
4             ID1003386406             48.0                 0.0

                                                                            \
event_descr Inbound Call by Other Inbound Call by Prov New diagnosis - CAD
0                             2.0                  8.0                 0.0
1                             0.0                  1.0                 0.0
2                             0.0                  0.0                 0.0
3                             5.0                  5.0                 1.0
4                             0.0                  4.0                 0.0

                                                                              \
event_descr New diagnosis - CHF New diagnosis - CPD New diagnosis - Diabetes
0                           0.0                 0.0                      0.0
1                           0.0                 0.0                      0.0
2                           0.0                 0.0                      0.0
3                           0.0                 1.0                      0.0
4                           0.0                 0.0                      0.0

                                                                             \
event_descr New diagnosis - Hypertension New diagnosis - Top 5 New provider
0                                    0.0                   0.0          4.0
1                                    0.0                   0.0          6.0
2                                    0.0                   0.0          5.0
3                                    0.0                   0.0         20.0
4                                    0.0                   0.0         12.0

                                                                  \
event_descr RX Claim - First Time Mail Order RX Claim - New Drug
0                                        3.0                10.0
1                                        0.0                 3.0
2                                        2.0                 6.0
3                                        1.0                23.0
4                                        0.0                10.0


event_descr RX Claim - Paid RX Claim - Rejected Surgery
0                      75.0                21.0     1.0
1                       5.0                 0.0     1.0
2                      58.0                24.0     0.0
3                     144.0               107.0     1.0
4                      40.0                26.0     0.0

In [296]:
count_tbl.dtypes

       event_descr
id                                          object
count  Fully Paid Claim                    float64
       Inbound Call by Mbr                 float64
       Inbound Call by Other               float64
       Inbound Call by Prov                float64
       New diagnosis - CAD                 float64
       New diagnosis - CHF                 float64
       New diagnosis - CPD                 float64
       New diagnosis - Diabetes            float64
       New diagnosis - Hypertension        float64
       New diagnosis - Top 5               float64
       New provider                        float64
       RX Claim - First Time Mail Order    float64
       RX Claim - New Drug                 float64
       RX Claim - Paid                     float64
       RX Claim - Rejected                 float64
       Surgery                             float64
dtype: object

In [299]:
cnt_tbl_fin = count_tbl.iloc[:, [0,1,3,4,5,6,7,8,9,16]]

In [300]:
cnt_tbl_fin.head()

                        id            count                        \
event_descr                Fully Paid Claim Inbound Call by Other
0            ID10010854159             43.0                   2.0
1            ID10013863216             19.0                   0.0
2            ID10024447278             21.0                   0.0
3             ID1002482139            149.0                   5.0
4             ID1003386406             48.0                   0.0

                                                                          \
event_descr Inbound Call by Prov New diagnosis - CAD New diagnosis - CHF
0                            8.0                 0.0                 0.0
1                            1.0                 0.0                 0.0
2                            0.0                 0.0                 0.0
3                            5.0                 1.0                 0.0
4                            4.0                 0.0                 0.0

                                                          \
event_descr New diagnosis - CPD New diagnosis - Diabetes
0                           0.0                      0.0
1                           0.0                      0.0
2                           0.0                      0.0
3                           1.0                      0.0
4                           0.0                      0.0


event_descr New diagnosis - Hypertension Surgery
0                                    0.0     1.0
1                                    0.0     1.0
2                                    0.0     0.0
3                                    0.0     1.0
4                                    0.0     0.0

In [301]:
cnt_tbl_fin.to_csv('/Users/Janey_jiayan/Downloads/Humana_Data/cnt_tbl_fin.csv')

### Total Amt Spent on Fully Paid Claim, CAD Diabetes, Hypertension, CPD and CHF
### Export as .csv file

In [142]:
history.head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
0,ID10010854159,RX Claim - Paid,BIGUANIDES,NaN,5,2.35,METFORMIN HCL,DIABETES,NaN,METFORMIN HCL TAB 500 MG,2.65,27250050.0,-664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID10010854159,RX Claim - Paid,BETA BLOCKERS CARDIO-SELECTIVE,NaN,5,2.35,ATENOLOL,CARDIO,NaN,ATENOLOL TAB 25 MG,2.65,33200020.0,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID10010854159,RX Claim - Rejected,DENY DUE TO ERRORS,"SYMPTOMS, SIGNS, ILL DEFINED CONDITIONS",NO DUAL COVERAGE,COPAY EXCEPTIONS,ATENOLOL,ATENOLOL TAB 25 MG,7.81108e+08,90,5.00,NaN,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID10010854159,RX Claim - Paid,FLUOROQUINOLONES,NaN,5.8,3.15,CIPROFLOXACIN HCL,INF-ANTIBIOTICS,NaN,CIPROFLOXACIN HCL TAB 500 MG (BASE EQUIV),2.65,5000020.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID10010854159,RX Claim - Paid,HMG COA REDUCTASE INHIBITORS,NaN,13,10.35,PRAVASTATIN SODIUM,CARDIO,NaN,PRAVASTATIN SODIUM TAB 20 MG,2.65,39400065.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
history['event_descr'].unique()

array(['RX Claim - Paid', 'RX Claim - Rejected', 'Fully Paid Claim',
       'RX Claim - New Drug', 'Inbound Call by Mbr',
       'Inbound Call by Prov', 'Surgery',
       'RX Claim - First Time Mail Order', 'New provider',
       'Inbound Call by Other', 'New diagnosis - CAD',
       'New diagnosis - CPD', 'New diagnosis - CHF',
       'New diagnosis - Diabetes', 'New diagnosis - Hypertension',
       'New diagnosis - Top 5'], dtype=object)

In [144]:
event_list = ['Fully Paid Claim', 'New diagnosis - CAD','New diagnosis - CPD',
              'New diagnosis - CHF', 'New diagnosis - Diabetes', 'New diagnosis - Hypertension']

In [145]:
history_amt = history.loc[history['event_descr'].isin(event_list),['id','event_descr','event_attr3']]

In [146]:
history_amt = history_amt.rename(columns={"event_attr3":"Amt_Spent"})

In [158]:
history_amt.head()

               id       event_descr  Amt_Spent
7   ID10010854159  Fully Paid Claim      100.0
17  ID10010854159  Fully Paid Claim      312.0
18  ID10010854159  Fully Paid Claim      100.0
23  ID10010854159  Fully Paid Claim      100.0
34  ID10010854159  Fully Paid Claim      450.0

In [148]:
history_amt.dtypes

id             object
event_descr    object
Amt_Spent      object
dtype: object

In [150]:
history_amt.Amt_Spent = history_amt.Amt_Spent.astype(float)

In [151]:
history_amt_agg = history_amt.groupby(['id','event_descr']).sum()

In [152]:
history_amt_agg

                                            Amt_Spent
id            event_descr
ID10010854159 Fully Paid Claim               23227.94
ID10013863216 Fully Paid Claim               18282.46
ID10024447278 Fully Paid Claim                3126.90
ID1002482139  Fully Paid Claim              136843.88
              New diagnosis - CAD              137.00
              New diagnosis - CPD              137.00
ID1003386406  Fully Paid Claim               76559.83
ID10036289882 Fully Paid Claim                1409.00
ID10036954381 Fully Paid Claim                9247.55
              New diagnosis - CAD               42.00
ID10055739763 Fully Paid Claim                4732.16
ID10074598346 Fully Paid Claim               80296.84
              New diagnosis - CHF              185.00
ID10081072715 Fully Paid Claim               12070.40
ID1008136105  Fully Paid Claim               32602.66
              New diagnosis - CPD               35.00
ID10085004805 Fully Paid Claim                5135.55
ID10085392189 Fully Paid Claim               30215.00
              New diagnosis - CPD              752.00
ID10112532931 Fully Paid Claim               42134.52
              New diagnosis - CAD             2513.00
              New diagnosis - Diabetes        2513.00
              New diagnosis - Hypertension     640.00
ID10119459922 Fully Paid Claim               13678.25
              New diagnosis - Diabetes          20.55
ID10125698107 Fully Paid Claim               24597.25
ID10126196784 Fully Paid Claim               65243.56
ID1013630023  Fully Paid Claim               49830.44
              New diagnosis - CHF              109.00
ID10137326880 Fully Paid Claim               25767.23
...                                               ...
ID99865372013 Fully Paid Claim               12283.18
ID99866353021 Fully Paid Claim               74438.04
ID99870677385 Fully Paid Claim               15296.11
ID99877095827 Fully Paid Claim                9692.53
ID99888932285 Fully Paid Claim               38365.71
              New diagnosis - Hypertension       0.00
ID99893580330 Fully Paid Claim                7070.00
ID99899080861 Fully Paid Claim                 588.39
ID99899156391 Fully Paid Claim               12759.73
ID99906098656 Fully Paid Claim               25693.50
              New diagnosis - Hypertension     175.00
ID99906998779 Fully Paid Claim              127694.67
              New diagnosis - Hypertension     645.00
ID99915109341 Fully Paid Claim               33427.50
ID99915340915 Fully Paid Claim                6386.12
              New diagnosis - CPD              224.00
              New diagnosis - Hypertension     126.00
ID99922543950 Fully Paid Claim               36205.41
ID99932051589 Fully Paid Claim              149257.03
              New diagnosis - CHF             2508.36
              New diagnosis - Hypertension    1200.00
ID9993577054  Fully Paid Claim              195314.90
ID99940102826 Fully Paid Claim               27824.96
ID99952965555 Fully Paid Claim               21644.92
              New diagnosis - CPD              175.00
ID99971049558 Fully Paid Claim               10126.33
ID99975648894 Fully Paid Claim                2359.00
ID99985278397 Fully Paid Claim               20375.00
ID99987501651 Fully Paid Claim                5606.76
ID99994197161 Fully Paid Claim                 877.00

[22437 rows x 1 columns]

In [153]:
history_amt_agg_unstack = history_amt_agg.unstack()

In [155]:
history_amt_agg_unstack.head()

                     Amt_Spent                                          \
event_descr   Fully Paid Claim New diagnosis - CAD New diagnosis - CHF
id
ID10010854159         23227.94                 NaN                 NaN
ID10013863216         18282.46                 NaN                 NaN
ID10024447278          3126.90                 NaN                 NaN
ID1002482139         136843.88               137.0                 NaN
ID1003386406          76559.83                 NaN                 NaN

                                                            \
event_descr   New diagnosis - CPD New diagnosis - Diabetes
id
ID10010854159                 NaN                      NaN
ID10013863216                 NaN                      NaN
ID10024447278                 NaN                      NaN
ID1002482139                137.0                      NaN
ID1003386406                  NaN                      NaN


event_descr   New diagnosis - Hypertension
id
ID10010854159                          NaN
ID10013863216                          NaN
ID10024447278                          NaN
ID1002482139                           NaN
ID1003386406                           NaN

In [156]:
amt_agg_tbl = history_amt_agg_unstack.fillna(0).reset_index()

In [159]:
amt_agg_tbl.head()

                        id        Amt_Spent                      \
event_descr                Fully Paid Claim New diagnosis - CAD
0            ID10010854159         23227.94                 0.0
1            ID10013863216         18282.46                 0.0
2            ID10024447278          3126.90                 0.0
3             ID1002482139        136843.88               137.0
4             ID1003386406         76559.83                 0.0

                                                                              \
event_descr New diagnosis - CHF New diagnosis - CPD New diagnosis - Diabetes
0                           0.0                 0.0                      0.0
1                           0.0                 0.0                      0.0
2                           0.0                 0.0                      0.0
3                           0.0               137.0                      0.0
4                           0.0                 0.0                      0.0


event_descr New diagnosis - Hypertension
0                                    0.0
1                                    0.0
2                                    0.0
3                                    0.0
4                                    0.0

In [184]:
amt_agg_tbl.to_csv('/Users/Janey_jiayan/Downloads/Humana_Data/amt_agg_tbl.csv')

### Average Amt Spent per Surgery 
### Export as .csv file

In [185]:
history.head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
0,ID10010854159,RX Claim - Paid,BIGUANIDES,NaN,5,2.35,METFORMIN HCL,DIABETES,NaN,METFORMIN HCL TAB 500 MG,2.65,27250050.0,-664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID10010854159,RX Claim - Paid,BETA BLOCKERS CARDIO-SELECTIVE,NaN,5,2.35,ATENOLOL,CARDIO,NaN,ATENOLOL TAB 25 MG,2.65,33200020.0,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID10010854159,RX Claim - Rejected,DENY DUE TO ERRORS,"SYMPTOMS, SIGNS, ILL DEFINED CONDITIONS",NO DUAL COVERAGE,COPAY EXCEPTIONS,ATENOLOL,ATENOLOL TAB 25 MG,7.81108e+08,90,5.00,NaN,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID10010854159,RX Claim - Paid,FLUOROQUINOLONES,NaN,5.8,3.15,CIPROFLOXACIN HCL,INF-ANTIBIOTICS,NaN,CIPROFLOXACIN HCL TAB 500 MG (BASE EQUIV),2.65,5000020.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID10010854159,RX Claim - Paid,HMG COA REDUCTASE INHIBITORS,NaN,13,10.35,PRAVASTATIN SODIUM,CARDIO,NaN,PRAVASTATIN SODIUM TAB 20 MG,2.65,39400065.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
history_amt_surgery = history.loc[history['event_descr']=='Surgery',['id','event_descr','event_attr3']]

In [187]:
history_amt_surgery.head()

                 id event_descr event_attr3
66    ID10010854159     Surgery      2314.0
368   ID10013863216     Surgery    12337.42
887    ID1002482139     Surgery    50042.33
1728  ID10036954381     Surgery      4643.0
2715  ID10074598346     Surgery      1452.0

In [188]:
history_amt_surgery = history_amt_surgery.rename(columns={"event_attr3":"Avg_Amt_Spent_Surgery"})

In [189]:
history_amt_surgery.head()

                 id event_descr Avg_Amt_Spent_Surgery
66    ID10010854159     Surgery                2314.0
368   ID10013863216     Surgery              12337.42
887    ID1002482139     Surgery              50042.33
1728  ID10036954381     Surgery                4643.0
2715  ID10074598346     Surgery                1452.0

In [190]:
history_amt_surgery.dtypes

id                       object
event_descr              object
Avg_Amt_Spent_Surgery    object
dtype: object

In [193]:
history_amt_surgery.Avg_Amt_Spent_Surgery = history_amt_surgery.Avg_Amt_Spent_Surgery.astype(float)

In [194]:
history_amt_surgery_avg = history_amt_surgery.groupby(['id','event_descr']).mean()

In [195]:
history_amt_surgery_avg = history_amt_surgery_avg.unstack()

In [203]:
history_amt_surgery_avg.head()

              Avg_Amt_Spent_Surgery
event_descr                 Surgery
id
ID10010854159               2314.00
ID10013863216              12337.42
ID1002482139               50042.33
ID10036954381               4643.00
ID10074598346               1452.00

In [199]:
surgery_amt_avg_tbl = history_amt_surgery_avg.fillna(0).reset_index()

In [260]:
surgery_amt_avg_tbl.head()

                        id Avg_Amt_Spent_Surgery
event_descr                              Surgery
0            ID10010854159               2314.00
1            ID10013863216              12337.42
2             ID1002482139              50042.33
3            ID10036954381               4643.00
4            ID10074598346               1452.00

In [201]:
surgery_amt_avg_tbl.to_csv('/Users/Janey_jiayan/Downloads/Humana_Data/surgery_amt_avg_tbl.csv')

### Most recent Days for Surgery
### Export as .csv file

In [243]:
history.head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
0,ID10010854159,RX Claim - Paid,BIGUANIDES,NaN,5,2.35,METFORMIN HCL,DIABETES,NaN,METFORMIN HCL TAB 500 MG,2.65,27250050.0,-664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID10010854159,RX Claim - Paid,BETA BLOCKERS CARDIO-SELECTIVE,NaN,5,2.35,ATENOLOL,CARDIO,NaN,ATENOLOL TAB 25 MG,2.65,33200020.0,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID10010854159,RX Claim - Rejected,DENY DUE TO ERRORS,"SYMPTOMS, SIGNS, ILL DEFINED CONDITIONS",NO DUAL COVERAGE,COPAY EXCEPTIONS,ATENOLOL,ATENOLOL TAB 25 MG,7.81108e+08,90,5.00,NaN,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID10010854159,RX Claim - Paid,FLUOROQUINOLONES,NaN,5.8,3.15,CIPROFLOXACIN HCL,INF-ANTIBIOTICS,NaN,CIPROFLOXACIN HCL TAB 500 MG (BASE EQUIV),2.65,5000020.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID10010854159,RX Claim - Paid,HMG COA REDUCTASE INHIBITORS,NaN,13,10.35,PRAVASTATIN SODIUM,CARDIO,NaN,PRAVASTATIN SODIUM TAB 20 MG,2.65,39400065.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
history_surgery_day = history.loc[history['event_descr']=='Surgery',['id','event_descr','Days']]

In [245]:
history_surgery_day.head()

                 id event_descr  Days
66    ID10010854159     Surgery  -421
368   ID10013863216     Surgery  -200
887    ID1002482139     Surgery  -742
1728  ID10036954381     Surgery  -560
2715  ID10074598346     Surgery  -246

In [246]:
history_surgery_day = history_surgery_day.rename(columns={"Days":"Most_Recent_Day_Surgery"})

In [247]:
history_surgery_day.dtypes

id                         object
event_descr                object
Most_Recent_Day_Surgery     int64
dtype: object

In [251]:
history_surgery_day_most_recent = history_surgery_day.groupby(['id','event_descr']).max()

In [252]:
history_surgery_day_most_recent.head()

                           Most_Recent_Day_Surgery
id            event_descr
ID10010854159 Surgery                         -421
ID10013863216 Surgery                         -200
ID1002482139  Surgery                         -742
ID10036954381 Surgery                         -560
ID10074598346 Surgery                         -246

In [253]:
history_surgery_day_most_recent = history_surgery_day_most_recent.unstack()

In [255]:
history_surgery_day_most_recent.head()

              Most_Recent_Day_Surgery
event_descr                   Surgery
id
ID10010854159                    -421
ID10013863216                    -200
ID1002482139                     -742
ID10036954381                    -560
ID10074598346                    -246

In [256]:
surgery_most_recent_day_tbl = history_surgery_day_most_recent.fillna(0).reset_index()

In [261]:
surgery_most_recent_day_tbl.head()

                        id Most_Recent_Day_Surgery
event_descr                                Surgery
0            ID10010854159                    -421
1            ID10013863216                    -200
2             ID1002482139                    -742
3            ID10036954381                    -560
4            ID10074598346                    -246

In [262]:
surgery_most_recent_day_tbl.to_csv('/Users/Janey_jiayan/Downloads/Humana_Data/surgery_most_recent_day_tbl.csv')

## Combine all .cvs fire (Join)