In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [78]:
rawdata = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/HMAHCC_COMP.csv')

/Users/Janey_jiayan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [79]:
len(rawdata['id'].unique())

14000

In [80]:
rawdata.head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
0,ID10010854159,RX Claim - Paid,BIGUANIDES,NaN,5,2.35,METFORMIN HCL,DIABETES,NaN,METFORMIN HCL TAB 500 MG,2.65,27250050.0,-664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID10010854159,RX Claim - Paid,BETA BLOCKERS CARDIO-SELECTIVE,NaN,5,2.35,ATENOLOL,CARDIO,NaN,ATENOLOL TAB 25 MG,2.65,33200020.0,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID10010854159,RX Claim - Rejected,DENY DUE TO ERRORS,"SYMPTOMS, SIGNS, ILL DEFINED CONDITIONS",NO DUAL COVERAGE,COPAY EXCEPTIONS,ATENOLOL,ATENOLOL TAB 25 MG,7.81108e+08,90,5.00,NaN,-659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID10010854159,RX Claim - Paid,FLUOROQUINOLONES,NaN,5.8,3.15,CIPROFLOXACIN HCL,INF-ANTIBIOTICS,NaN,CIPROFLOXACIN HCL TAB 500 MG (BASE EQUIV),2.65,5000020.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID10010854159,RX Claim - Paid,HMG COA REDUCTASE INHIBITORS,NaN,13,10.35,PRAVASTATIN SODIUM,CARDIO,NaN,PRAVASTATIN SODIUM TAB 20 MG,2.65,39400065.0,-646,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
test = rawdata[rawdata['Days'] >= 0]

In [82]:
test_RX_notnull = test.loc[(test['event_descr']=='RX Claim - Paid') & (test['MME'].notnull())]

In [83]:
test_RX_notnull.head()

,id,event_descr,event_attr1,event_attr2,event_attr3,event_attr4,event_attr5,event_attr6,event_attr7,event_attr8,event_attr9,event_attr10,Days,PAY_DAY_SUPPLY_CNT,PAYABLE_QTY,MME,DRUG_TYPE,Specialty,Specialty2,Specialty3
194,ID10010854159,RX Claim - Paid,OPIOID AGONISTS,NaN,1.83,1.38,TRAMADOL HCL,PAIN,NaN,TRAMADOL HCL TAB 50 MG,0.45,65100095.0,0,5.0,15.0,15.0,IR,Internal Medicine Critical Care Medicine,Hospitalist,Family Practice
329,ID10010854159,RX Claim - Paid,OPIOID COMBINATIONS,NaN,5,4.45,ACETAMINOPHEN/CODEINE,PAIN,NaN,ACETAMINOPHEN W/ CODEINE TAB 300-30 MG,0.55,65991002.0,706,5.0,14.0,12.6,IR,Dentist General Practice,Dentist,NaN
397,ID10013863216,RX Claim - Paid,OPIOID AGONISTS,NaN,11.05,0,TRAMADOL HCL,PAIN,NaN,TRAMADOL HCL TAB 50 MG,11.05,65100095.0,0,90.0,180.0,10.0,IR,Family Practice,Family Practice Adult Medicine,NaN
405,ID10013863216,RX Claim - Paid,OPIOID AGONISTS,NaN,11.05,0,TRAMADOL HCL,PAIN,NaN,TRAMADOL HCL TAB 50 MG,11.05,65100095.0,94,90.0,180.0,10.0,IR,Family Practice,Family Practice Adult Medicine,NaN
417,ID10013863216,RX Claim - Paid,OPIOID AGONISTS,NaN,11.03,0,TRAMADOL HCL,PAIN,NaN,TRAMADOL HCL TAB 50 MG,11.03,65100095.0,253,90.0,180.0,10.0,IR,Family Practice,Family Practice Adult Medicine,NaN

In [87]:
len(test_RX_notnull['id'].unique())

13948

In [88]:
Id_Notnull = test_RX_notnull['id'].unique()

In [89]:
Id_Notnull

array(['ID10010854159', 'ID10013863216', 'ID10024447278', ...,
       'ID99985278397', 'ID99987501651', 'ID99994197161'], dtype=object)

In [90]:
joined_tbl = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/joined_tbl.csv')

In [91]:
len(joined_tbl['id'].unique())

13990

In [92]:
joined_tbl = joined_tbl.drop(joined_tbl.columns[0],axis=1)

In [126]:
joined_tbl.head()

,id,#_of_FPC,#_of_InbCall_Mrb,#_of_InbCall_Prov,#_of_CAD,#_of_CHF,#_of_CPD,#_of_Diabetes,#_of_Hypertension,#_of_Surgery,Most_Recent_Day_Surgery,Avg_Amt_Spent_Surgery,Total_Amt_FPC,Total_Amt_CAD,Total_Amt_CHF,Total_Amt_CPD,Total_Amt_Diabetes,Total_Amt_Hypertension
0,ID10010854159,43.0,26.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0,-421.0,2314.00,23227.94,0.0,0.0,0.0,0.0,0.0
1,ID10013863216,19.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-200.0,12337.42,18282.46,0.0,0.0,0.0,0.0,0.0
2,ID10024447278,21.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,3126.90,0.0,0.0,0.0,0.0,0.0
3,ID1002482139,149.0,6.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0,-742.0,50042.33,136843.88,137.0,0.0,137.0,0.0,0.0
4,ID1003386406,48.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,76559.83,0.0,0.0,0.0,0.0,0.0

In [127]:
joined_tbl_fin = joined_tbl.loc[joined_tbl['id'].isin(Id_Notnull),].reset_index()

In [128]:
joined_tbl_fin.head()

,index,id,#_of_FPC,#_of_InbCall_Mrb,#_of_InbCall_Prov,#_of_CAD,#_of_CHF,#_of_CPD,#_of_Diabetes,#_of_Hypertension,#_of_Surgery,Most_Recent_Day_Surgery,Avg_Amt_Spent_Surgery,Total_Amt_FPC,Total_Amt_CAD,Total_Amt_CHF,Total_Amt_CPD,Total_Amt_Diabetes,Total_Amt_Hypertension
0,0,ID10010854159,43.0,26.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0,-421.0,2314.00,23227.94,0.0,0.0,0.0,0.0,0.0
1,1,ID10013863216,19.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-200.0,12337.42,18282.46,0.0,0.0,0.0,0.0,0.0
2,2,ID10024447278,21.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,3126.90,0.0,0.0,0.0,0.0,0.0
3,3,ID1002482139,149.0,6.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0,-742.0,50042.33,136843.88,137.0,0.0,137.0,0.0,0.0
4,4,ID1003386406,48.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,76559.83,0.0,0.0,0.0,0.0,0.0

In [129]:
joined_tbl_fin = joined_tbl_fin.drop(joined_tbl_fin.columns[0],axis=1)

In [132]:
joined_tbl_fin.shape

(13938, 18)

In [133]:
joined_tbl_fin.to_csv('/Users/Janey_jiayan/Downloads/Humana_Data/joined_tbl_fin.csv')